{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
<div class="row" style="width: 48rem;">
    <div class="card-body">
        <h4 class="card-title">{% trans "Modify Downloader" %} : {{object.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{% trans "Modify downloader information" %}</h6>

        <form method="post">
            {% csrf_token %}
            {% include '_form.html' %}
            <a class="btn btn-outline-secondary" href="javascript:history.go(-1)">{% trans "Cancel" %}</a>
            <button type="submit" class="btn btn-success">{% trans "Confirm" %}</button>
        </form>
    </div>
</div>
{% endblock %}
