name: Build and Publish Docker Image

on:
  push:
    branches: [ "master", "main" ]
    tags: [ 'v*.*.*' ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubicloud-standard-2
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Login à GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extraction des métadonnées (tags, labels)
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # Tag "latest" uniquement si on est sur la branche 'master' ou 'main'
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'master') || github.ref == format('refs/heads/{0}', 'main') }}
            # Tag avec le nom de la branche (ex: main, dev, feature-x)
            type=ref,event=branch
            # Tag avec le nom du tag Git (ex: v1.0.0)
            type=ref,event=tag
            # Tag pour les Pull Requests (ex: pr-12)
            type=ref,event=pr

      - name: Construction et Push de l'image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
